<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Photo Archive</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<meta id="viewport" name="viewport" content="width=device-width" />
</head>
<body>
	<div class="main">
		<div class="name">
			Jean-François To - Archive
		</div>
		<div class="content">
			{% for album in albums %}
			<div class="layer">
				<a href="{{ url_for('album', album_title=album.title) }}"
					 class="cover"
					 style="background-image: url({{ album.cover_link }});">
					{{ album.title }}
				</a>
			</div>
			{% endfor %}

		</div>
	</div>
</body>
</html>
